.full-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.task-container {
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
  align-items: center;
  justify-items: center;
}

.indTask, input {
  font-size: 3rem;
  display: flex;
  flex-flow: row;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: .4rem;
  width: 70%;
  flex-grow: 1;
  transition: all .5s ease;
}

.indTask:hover {
  background-color: #b9fffc;
  border: 1px solid #b9fffc;
  transition: all .4s ease;
}

.input-container {
  display: flex;
  flex-flow: row;
  width: 70%;
  align-items: baseline;
}

h1 {
  text-align: center;
  font-size: 7rem;
  margin-bottom: 1rem;
}

label {
  display: none;
  margin: 0;
}
button {
  font-size: 2rem;
  border-radius: 50%;
  padding: .6rem;
  width: 8%;
  border: 2px solid #9ab3f5;
  background-color: white;
}

.completed-true {
  color: #a3d8f4;
  border: 1px solid #a3d8f4;
  background-color: #ffffff;
  text-decoration: line-through;
  order: 1;
}

.completed-false {
  border: 1px solid #a3d8f4;
  background-color: #a3d8f4;
  color: #ffffff;
  order: 2;

}

#top-input {
  background-color: #9ab3f5;
  border: 1px solid #9ab3f5;
  color: #ffffff;
  margin-bottom: 2rem;
  width: 50%;

}

/* colors: https://colorhunt.co/palette/206782 */
/* secondary: https://colorhunt.co/palette/213437 */
/* third: https://colorhunt.co/palette/213441 */